.timer{
    margin: 0px auto;
    text-align: center;
    width: 800px;
    background-color: darkcyan;
}

.title{
    font-size: 30px;
}

.work-button {
    width        : 200px;
    height       : 200px;
    font-size    : 20px;
    border-radius: 50%;
    margin: 10px;
    border: 2px solid black;
}

.button1:hover {
    background-color: rgb(147, 189, 32);
}

.rest-button{
    width        : 200px;
    height       : 200px;
    font-size    : 20px;
    border-radius: 50%;
    margin: 10px;
    border: 2px solid black;
}

.start{
    font-size: 40px;
    
}

.pause{
    font-size: 40px;
    display: none;
}